@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;1,100;1,200;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 scroll-behavior: smooth;

}

header{
    background-color: rgb(15, 11, 29);
    width:100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: crimson;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4em;

}
.navigation a{
    color: darkgray;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding: 30px;
}

.navigation a:hover{
    align-self: center;
    color: crimson ;
}

section{
    padding: 100px 200px;
}   

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:  url(Imgs/193478.jpg)no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color:coral ;
    font-size: 1.6em;
    font-weight: 400;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
  color: #ff7504;  
  font-size: 3em;
  font-weight: 500;
}
.main h3{
    color: whitesmoke;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main_btn {
color: darkred;
    background: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;    
    transition: 0.7s ease;
}
    

.main_btn:hover{
 background-color: crimson; 
 transform: scale(1.1);  
}

.social-icons a{
    color: antiquewhite ;
    font-size: 1.4em;
    padding-right:30px;
}
.title {
 
    display: flex;
    justify-content: center;
    color: crimson ;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
   flex-direction: row ;
    flex-wrap: wrap;
}

.card {
     background-color: rgb(255, 254, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/20% );
    
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
 .card:hover {
    transform: scale(1.1);
 }

 .icon{
    color: crimson;
    font-size: 6em;
    text-align: center;

 }

 .info {
    text-align: center;
 }
 .info h3 {
color: #2a56a2;
font-size: 1.2em;
font: weight 500px;;
margin: 10px;
 }
 
 .title1{
    display: flex;
    justify-content: center;
    color:#2a56a2  ;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.content1{
    display: flex;
    justify-content: center;
   flex-direction: row ;
    flex-wrap: wrap;
}

.card1{
    background-color: rgb(255, 254, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/20% );
    
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    transition: 0.7s ease; 
}

.card1:hover{
    transform: scale(1.1);
}

.icon1{
    color: rgb(61, 9, 250);
    font-size: 6em;
    text-align: center;   
}

.info1{
    text-align: center;
 
} 

.info1 h3{
    color: rgb(61, 9, 250);
font-size: 1.2em;
font: weight 500px;;
margin: 10px;
}

.info1 p{
    color: dimgrey;
}

.main_btn1{

    color: #2a56a2;
    background: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;    
    transition: 0.7s ease;
}

.main_btn1:hover{
    transform: scale(1.1);   
}
    .main_btn2{
        color:#0fff3f;
        background: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: 0.9375em 2.1875em ;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;    
        transition: 0.7s ease;   
    }

    .main_btn2:hover{
        transform: scale(1.1);   

    }
    .info2{
        text-align: center;

    }
    .info2 h3{
        color: #5a2cd8;
        font-size: 1.2em;
        font: weight 500px;;
        margin: 10px;
    }

    .card2{
    background-color: rgb(255, 254, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/20% );
    
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    transition: 0.7s ease;   
    }
    .card2:hover{
        transform: scale(1.1);   

    }
    .icon2{
        color: rgb(61, 9, 250);
    font-size: 6em;
    text-align: center;   

    }

    .info2{
        text-align: center;

    }

    .info2 h3{
        color: #0fff3f;
        font-size: 1.2em;
        font: weight 500px;;
        margin: 10px;   
    }
    .card2{
        background-color: rgb(255, 254, 255);
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1 1 1/20% );
        
        border-radius: 10px;
        padding: 30px;
        margin: 15px;
        transition: 0.7s ease;       
    }
    .cards1{
        background: #000016 ;
        

    }
    .cards{
        background: #210964;
    
          
        background-size: cover;
       
       
    
    }

    .main2{
    background: #210964;
    background-size: cover;

    }
 
    .cardx{
        background-color: rgb(255, 254, 255);
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1 1 1/20% );
        
        border-radius: 10px;
        padding: 30px;
        margin: 15px;
        transition: 0.7s ease;       
    }
    .cardx:hover{
        transform: scale(1.1);   
    }

    .iconx{
        color: rgb(61, 9, 250);
        font-size: 6em;
        text-align: center;      
    }

    .infox{
        text-align: center;
    }

    .infox h3{
        color: #0f13ff;
        font-size: 1.2em;
        font: weight 500px;;
        margin: 10px;    
    }
    

.content .iconx {
    font-size: 4.5em;

}
.conten .info h3{
color: #000;
}

.conten .infox p{
   font-size: 1.5em; 
}

